@font-face {
  font-family: Poppins;
  src: url(./Fontfaces/Regular.ttf);
}

@font-face {
  font-family: PoppinsBold;
  src: url(./Fontfaces/Bold.ttf);
}

@media only screen and (max-width: 780px) {
  #hint{
    display: none;
  }
  
  #control{
    margin-bottom: 20px;
  }

  body {
    overflow: hidden;
  }

  #kofi:hover{
    cursor: pointer;
  }

  #reload:hover{
    cursor: pointer;
  }

  #skip:hover{
    cursor: pointer;
  }

  #submit:hover{
    cursor: pointer;
  }

  #mode:hover{
    cursor: pointer;
  }

  #kanye-songs:hover{
    cursor: text;
  }
  
  #mode{
    width: 325px;
    font-family: Poppins;
    font-size: 12pt;
    border-radius: 12.5px;
    border-color: white;
    border-width: 2px;
  }

  #bars {
    width: 100%;
    background-color: rgb(32, 32, 32);
    font-family: Poppins;
    font-size: 12pt;
    margin-left: auto;
    margin-right: auto;
  }

  label{
    font-family: Poppins;
  }

  *{
    text-align: center;
    background-color: #181818;
    color: white;
    align-items: center;
  }

  #kanye-songs{
    margin-bottom: 10px;
  }

  #top{
    width: 100%;
  }

  label[name="lt"]{
    font-size: 12pt;
  }

  #logo{
    align-items: center;
    width: 100%;
  }

  #select{
    display: none;
  }

  #bottomLogo{
    height: 100px;
    border-radius: 12.5px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #bottomL{
    display: none;
  }

  #bottomR{
    font-family: Poppins;
  }

  #mode{
    font-family: Poppins;
  }

  #bottom{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  #kanye-songs{
    width: 90%;
    font-family: Poppins;
    font-size: 14pt;
    border-radius: 12.5px;
    border-color: white;
    border-width: 2px;
  }

  #skip{
    font-family: Poppins;
    font-size: 14pt;
    border-radius: 12.5px;
    border-color: white;
  }

  #submit{
    font-family: Poppins;
    font-size: 14pt;
    border-radius: 12.5px;
    border-color: white;
  }

  #result{
    font-family: Poppins;
  }

  #reload{
    text-align: center;
    font-family: Poppins;
    font-size: 12pt;
    border-radius: 12.5px;
    border-color: white;
  }

  #kofi{
    text-align: center;
    font-family: Poppins;
    font-size: 12pt;
    border-radius: 12.5px;
    border-color: white;
  }
}

@media only screen and (min-width: 781px) {
  #bars {
    background-color: blue; /* Cambia lo sfondo su schermi più grandi */
  }

  *{
    text-align: center;
    background-color: #181818;
    color: white;
    align-items: center;
  }
  
  h1{
    font-family: PoppinsBold;
    font-size: 48pt;
  }
  
  h2{
    font-family: Poppins;
    font-size: 24pt;
  }
  
  label[name="lt"]{
    font-size: 100%;
  }
  
  p{
    font-family: Poppins;
    font-size: 14pt;
    text-align: center;
  }
  
  label{
    font-family: Poppins;
    font-size: 14pt;
    text-align: center;
  }
  
  a{
    text-emphasis: bold;
  }
  
  #welcome{
    font-size: 12pt;
  }
  
  #bottomL{
    display: flex;
    text-align: left;
    position: absolute;
    left: 20px;
    bottom: 10px;
  }
  
  #bottomR{
    text-align: right;
    position: absolute;
    right: 20px;
    bottom: 22.5px;
  }
  
  #mode{
    width: 325px;
    font-family: Poppins;
    font-size: 12pt;
    border-radius: 12.5px;
    border-color: white;
    border-width: 2px;
  }
  
  #mode:hover{
    cursor: pointer;
  }
  
  #insp{
    text-align: left;
    padding-left: 10px;
  }
  
  #howtoplay{
    text-align: center;
    font-family: Poppins;
    font-size: 24pt;
    height: 48pt;
    width: 48pt;
    border-radius: 12.5px;
    border-color: white;
  }
  
  #howtoplay:hover{
    cursor: pointer;
  }
  
  #bars{
    background-color: rgb(32, 32, 32);
    padding: 1%;
  }
  
  #kanye-songs{
    width: 70%;
    font-family: Poppins;
    font-size: 16pt;
    border-radius: 12.5px;
    border-color: white;
    border-width: 2px;
    margin-bottom: 10px;
  }
  
  #logo{
    width: 70%;
    transition: transform .2s;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  
  #logo:hover{
    cursor: pointer;
    transform: scale(1.05);
  }
  
  #fix{
    display: block;
  }

  #submit{
    font-family: Poppins;
    font-size: 16pt;
    border-radius: 12.5px;
    border-color: white;
  }
  
  #submit:hover{
    cursor: pointer;
  }
  
  #reload{
    text-align: center;
    font-family: Poppins;
    font-size: 12pt;
    border-radius: 12.5px;
    border-color: white;
  }
  
  #reload:hover{
    cursor: pointer;
  }
  
  #skip{
    font-family: Poppins;
    font-size: 16pt;
    border-radius: 12.5px;
    border-color: white;
  }
  
  #skip:hover{
    cursor: pointer;
  }
  
  #bottomLogo{
    height: 100px;
    border-radius: 12.5px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #select{
    display: none !important;
  }

  #kofi{
    text-align: center;
    font-family: Poppins;
    font-size: 12pt;
    border-radius: 12.5px;
    border-color: white;
  }

  #kofi:hover{
    cursor: pointer;
  }

  #kanye-songs:hover{
    cursor: text;
  }
}