@font-face {
  font-family: Poppins;
  src: url(./Fontfaces/Regular.ttf);
}

@font-face {
  font-family: PoppinsBold;
  src: url(./Fontfaces/Bold.ttf);
}
* {
  box-sizing: border-box;
}

/* Mobile */ @media only screen and (max-width: 954px) { /* Mobile */
  option{
    font-size: 12pt;
  }

  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  #howToPlayDiv {
    font-family: Poppins;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    background-color: #242424;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    text-align: left;
    line-height: 1.5;
  }

  #htpTitle{
    margin-top: 7.5px;
    background-color: #242424;
    text-align: left;
  }

  #htpParagraph{
    font-family: Poppins;
    font-size: 12pt;
    background-color: #242424;
    text-align: left;
  }

  #close-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-family: Poppins;
  }
  
  #control{
    margin-bottom: 20px;
  }

  body {
    overflow: hidden;
  }

  #kofi:hover{
    cursor: pointer;
  }

  #reload:hover{
    cursor: pointer;
  }

  #skip:hover{
    cursor: pointer;
  }

  #submit:hover{
    cursor: pointer;
  }

  #mode:hover{
    cursor: pointer;
  }

  #kanye-songs:hover{
    cursor: text;
  }
  
  #mode{
    width: 325px;
    font-family: Poppins;
    font-size: 12pt;
    border-radius: 12.5px;
    border-color: white;
    border-width: 2px;
  }

  #bars {
    width: 100%;
    background-color: rgb(32, 32, 32);
    font-family: Poppins;
    font-size: 12pt;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }

  label{
    font-family: Poppins;
  }

  *{
    text-align: center;
    background-color: #181818;
    color: white;
    align-items: center;
  }

  #kanye-songs{
    margin-bottom: 10px;
  }

  #top{
    width: 100%;
  }

  label[name="lt"]{
    font-size: 12pt;
  }

  #logo{
    align-items: center;
    width: 90%;
  }

  #select{
    display: none;
  }

  #bottomLogo{
    height: 100px;
    border-radius: 12.5px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-bottom: 5px;
  }

  #bottomL{
    display: none;
  }

  #bottomR{
    font-family: Poppins;
  }

  #mode{
    font-family: Poppins;
  }

  #bottom{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  #kanye-songs {
    width: 45%;
    font-family: 'Poppins', sans-serif;
    font-size: 16pt;
    padding: 8px;
    border-radius: 12.5px;
    border: 2px solid rgb(255, 255, 255);
    margin-bottom: 10px;
    background-color: #181818;
    color: #fff;
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }
  
  #kanye-songs:focus {
    border-color: #fff;
    background-color: #242424; 
  }

  #skip{
    font-family: Poppins;
    font-size: 12pt;
    border-radius: 12.5px;
    border-color: white;
  }

  #submit{
    font-family: Poppins;
    font-size: 12pt;
    border-radius: 12.5px;
    border-color: white;
  }

  #result{
    font-family: Poppins;
  }

  #reload{
    text-align: center;
    font-family: Poppins;
    font-size: 12pt;
    border-radius: 12.5px;
    border-color: white;
  }

  #kofi{
    text-align: center;
    font-family: Poppins;
    font-size: 12pt;
    border-radius: 12.5px;
    border-color: white;
  }
}

/* PC */ @media only screen and (min-width: 955px) { /* PC */
  option{
    font-size: 12pt;
  }

  *{
    text-align: center;
    background-color: #181818;
    color: white;
    align-items: center;
  }
  
  h1{
    font-family: PoppinsBold;
    font-size: 48pt;
  }
  
  h2{
    font-family: Poppins;
    font-size: 24pt;
  }
  
  label[name="lt"]{
    font-size: 100%;
  }
  
  p{
    font-family: Poppins;
    font-size: 14pt;
    text-align: center;
  }
  
  label{
    font-family: Poppins;
    font-size: 14pt;
    text-align: center;
  }
  
  a{
    text-emphasis: bold;
  }
  
  #welcome{
    font-size: 12pt;
  }
  
  #bottomL{
    display: grid;
    text-align: left;
    position: absolute;
    left: 20px;
    bottom: 15px;
  }
  
  #bottomR{
    display: grid;
    text-align: right;
    position: absolute;
    right: 20px;
    bottom: 15px;
  }
  
  #bottomLogo{
    justify-self: end;
    height: 100px;
    border-radius: 12.5px;
    margin-bottom: 10px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #mode{
    width: 325px;
    font-family: Poppins;
    font-size: 14pt;
    border-radius: 12.5px;
    border-color: white;
    border-width: 2px;
  }
  
  #mode:hover{
    cursor: pointer;
  }
  
  #insp{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  #howToPlayDiv {
    font-family: Poppins;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    background-color: #242424;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    text-align: left;
    line-height: 1.5;
  }

  #htpTitle{
    margin-top: 7.5px;
    background-color: #242424;
    text-align: left;
  }

  #htpParagraph{
    font-family: Poppins;
    font-size: 12pt;
    background-color: #242424;
    text-align: left;
  }

  #close-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-family: Poppins;
  }

  #videoDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  #htpVideo {
    font-family: Poppins;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    background-color: #242424;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    text-align: left;
    line-height: 1.5;
  }
  
  #aVideo{
    background-color: #242424;
  }

  #htpVideoTitle{
    margin-top: 7.5px;
    background-color: #242424;
    text-align: left;
  }
  #htpVideoParagraph{
    font-family: Poppins;
    font-size: 12pt;
    background-color: #242424;
    text-align: left;
  }
  
  #close-video-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-family: Poppins;
  }


  #howtoplay{
    text-align: center;
    font-family: Poppins;
    font-size: 24pt;
    height: 48pt;
    width: 48pt;
    border-radius: 12.5px;
    border-color: white;
    background-image: url("./Covers/UN.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  #howtoplay:hover{
    cursor: pointer;
  }

  #video{
    text-align: center;
    font-family: Poppins;
    font-size: 24pt;
    height: 48pt;
    width: 48pt;
    border-radius: 12.5px;
    border-color: white;
    margin-bottom: 10px;
    background-image: url("./Covers/VD.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  #video:hover{
    cursor: pointer;
  }
  
  #bars {
    width: 100%;
    background-color: rgb(32, 32, 32);
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
    margin-left: auto;
    margin-right: auto;
    padding: 10px; /* Aggiunge margini interni uniformi */
  }
  
  #kanye-songs {
    width: 45%;
    font-family: 'Poppins', sans-serif;
    font-size: 16pt;
    padding: 8px;
    border-radius: 12.5px;
    border: 2px solid rgb(255, 255, 255);
    margin-bottom: 10px;
    background-color: #181818;
    color: #fff;
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }
  
  #kanye-songs:focus {
    border-color: #fff;
    background-color: #242424; 
  }
  
  #logo{
    width: 70%;
    transition: transform .2s;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  
  #logo:hover{
    cursor: pointer;
    transform: scale(1.05);
  }
  
  #fix{
    display: block;
  }

  #submit{
    font-family: Poppins;
    font-size: 12pt;
    border-radius: 12.5px;
    border-color: white;
  }
  
  #submit:hover{
    cursor: pointer;
  }
  
  #reload{
    text-align: center;
    font-family: Poppins;
    font-size: 12pt;
    border-radius: 12.5px;
    border-color: white;
  }
  
  #reload:hover{
    cursor: pointer;
  }
  
  #skip{
    font-family: Poppins;
    font-size: 12pt;
    border-radius: 12.5px;
    border-color: white;
  }
  
  #skip:hover{
    cursor: pointer;
  }

  #select{
    display: none !important;
  }

  #kofi{
    text-align: center;
    font-family: Poppins;
    font-size: 12pt;
    border-radius: 12.5px;
    border-color: white;
  }

  #kofi:hover{
    cursor: pointer;
  }

  #kanye-songs:hover{
    cursor: text;
  }
}
